---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Information about the author of the website"
	pubDate={new Date("May 23 2026")}
>
    <p>
        I'm Nick, but on the web I go by adnomina. I'm a Software Engineer from Germany. I build things for the web at <a href="https://peerigon.com">Peerigon</a > with TypeScript, React, and Node.js. I've been in the field since 2019 when I started during my studies of Interactive Media.
    </p>
    <p>
        In my spare time I play Badminton, go on bike rides, draw, crochet, and keep a bullet journal. I'm also into personal knowledge management, which is probably why this website exists in the first place.
    </p>
    <p>
        I run CachyOS Linux and have strong opinions about my setup. This website is where I write about the things I'm figuring out: code, tools, ideas, whatever's on my mind.
    </p>
</Layout>
